<div class='top-wrapper'>
  <div class='top-inner-text'>
    <h1 >断捨離の力で、新しいあなたへ<br><br></h1>
    <h3>心地よい空間と健康な暮らしを手に入れるためのスタートライン</h3>
  </div>
</div>

<div class="text-left px-5 ">
      <h2 class="my-5 text-2xl border-bottom pb-2">断捨離memoとは？</h2>
        <div>
          小さなことから始められる断捨離を後押しするアプリです。</br>
          身の回りの物を整理することで、心地よい空間が生まれ、健康な暮らしにつながります。</br>
          「財布の中のレシート」や「スマホ・パソコン内でのいらないもの」、いつの間にか増えていませんか？</br>
          断捨離を行い、心身ともに軽やかな暮らしを手に入れましょう！
        </div>
      <h2 class="my-5 text-2xl border-bottom pb-2">断捨離memoの使い方</h2>
      <div class="lh-lg ">
        <p>①まずはLINEでログイン!</p>
        <%= link_to user_line_omniauth_authorize_path, class: 'navbar-brand' do %>
          <%= image_tag 'btn_login_base.png', class: 'mb-4' %>
        <% end %>
        <p>②投稿ページから「断捨離したいもの」を登録！</p>
        <p>③期限日を設定すると、期限日の朝10:00にLINE通知が来ます</p>
          <div class="lh-1" style="max-width: 300px;">
            <p class="rounded" style="background-color: #06C755;">　LINE通知には友だち登録が必要です!</p>
            <%= image_tag 'barcodes.png', class: 'mb-4' %>
            <a href="https://lin.ee/GwfUKnC"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0"></a>
          </div>
        <p>④捨てられたら「断捨離完了」ボタンを押すだけで自分の今まで捨てた数がカウントされていきます</p>
          <%= button_to '#', class: "btn btn-secondary btn-lg mb-4", disabled: true do %>
            <i class="bi bi-stars" style="font-size: 2.5rem; color: yellow;"></i>
            断捨離完了
          <% end %>
        <p>⑤「えらいボタン」を押してみましょう！自分も他ユーザーも頑張って捨てられた事はとてもえらいです</p>
        <ul class="d-flex flex-column bd-highlight mb-2 lh-sm ">
          <i class="fst-normal"  style="font-size: 0.75rem;">\ えらいね！/</i>
          <i class="bi bi-trophy ms-2" style="font-size: 3.5rem; color: #f6ad49;"></i>
        </ul>
       <p>⑥まずは1つ登録してみましょう!</p>
    </div>
</div>
      