<div class='top-wrapper'>
  <div class='top-inner-text'>
    <h1 >断捨離の力で、新しいあなたへ<br><br></h1>
    <h3>心地よい空間と健康な暮らしを手に入れるためのスタートライン</h3>
  </div>
</div>

<div class="text-left px-md-5">
      <h2 class="my-5 text-2xl border-bottom pb-2">断捨離memoとは？</h2>
      <div>
        小さなことから始められる断捨離を後押しするアプリです。</br>
        身の回りの物を整理することで、心地よい空間が生まれ、健康な暮らしにつながります。</br>
        「財布の中のレシート」や「スマホ・パソコン内でのいらないもの」、いつの間にか増えていませんか？</br>
        断捨離を行い、心身ともに軽やかな暮らしを手に入れましょう！
      </div>
      <h2 class="my-5 text-2xl border-bottom pb-2">断捨離memoの使い方</h2>
      <div class="lh-lg">
        ①まずはLINEでログイン!公式LINEを友達追加しましょう</br>
        『ログインアイコン』</br>
        ②投稿ページから「断捨離したいもの」を登録！</br>
        ③期限日を設定すると、登録日の朝10:00にLINE通知が来ます</br>
        ④捨てられたら「捨てたボタン」を押すだけで自分の今まで捨てた数がカウントされていきます</br>
        ⑤「えらいボタン」を押してみましょう！自分も他ユーザーも頑張って捨てられた事はとてもえらいです</br>
        ⑥まずは1つ登録してみましょう!
      </div>
</div>
      